[Unit]
Description=ServStatsBot is a telegram monitoring bot
After=network.target

[Service]
Type=simple
User=telegram
ExecStart=/usr/bin/python3 /opt/telegram-monitoring/servstatsbot.py

[Install]
WantedBy=multi-user.target
