[Unit]
Description=ServStatsBot - Telegram Monitoring Bot
After=network.target

[Service]
Type=simple
User=telegram
ExecStart=/opt/telegram-monitoring/servstatsbot.py

[Install]
WantedBy=multi-user.target
